<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app"
        android:label="TingTong"
        android:roundIcon="@drawable/rapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.TingTongApp"
        tools:targetApi="31">
        <activity
            android:name=".Views.searchView"
            android:exported="false" />
        <activity
            android:name=".Views.LocationSearch"
            android:exported="false" />
        <activity
            android:name=".Views.Account_View"
            android:exported="false" />
        <activity
            android:name=".Views.personalPage"
            android:exported="false" />
        <activity
            android:name=".Views.roomManagementModel"
            android:exported="false" />
        <activity
            android:name=".Views.DetailRoom"
            android:exported="false" />
        <activity
            android:name=".Views.PostRoom"
            android:exported="false" />
        <activity
            android:name=".Views.Main_Menu"
            android:exported="false" />
        <activity
            android:name=".Views.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".Views.LoginView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SignupView"
            android:exported="false" />
    </application>

</manifest>